<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="x500_with_openmanip_x">
  <xacro:include filename="$(find uavros2)/models/x500/urdf/x500.urdf.xacro"/>
  <xacro:include filename="$(find open_manipulator_x_description)/urdf/open_manipulator_x.urdf.xacro"/>

  <joint name="arm_mount" type="fixed">
    <parent link="x500/base_link"/>
    <child link="link1"/>     <!-- OpenManipulator-X base is link1 -->
    <origin xyz="0 0 -0.05" rpy="3.14159 0 0"/>
  </joint>
</robot>
