<?xml version="1.0"?>
<model>
  <name>fixed_wing_basic_with_cam</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Abdulrahman S. Al-Batati</name>
    <email>asmalbatati@hotmail.com</email>
  </author>
  <description>
    Basic fixed-wing trainer (rc_cessna-class) for SLAM / mission research.
  </description>
</model>
