<?xml version="1.0"?>
<model>
  <name>standard_vtol</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Abdulrahman S. Al-Batati</name>
    <email>asmalbatati@hotmail.com</email>
  </author>
  <description>
    Standard VTOL with embedded sensors (PX4 stock model).
  </description>
</model>
